.vs/
.vscode/
ProgrammingEssential/bin/
ProgrammingEssential/obj/
ProgrammingEssential.sln

ValuesTypesVsReferencetype/bin/
ValuesTypesVsReferencetype/obj/
ValuesTypesVsReferencetype.sln

BoxingUnboxing/bin/
BoxingUnboxing/obj/
BoxingUnboxing.sln
