.vs/
.vscode/
ProgrammingEssential/bin/
ProgrammingEssential/obj/
ProgrammingEssential.sln

ValuesTypesVsReferencetype/bin/
ValuesTypesVsReferencetype/obj/
ValuesTypesVsReferencetype.sln

BoxingUnboxing/bin/
BoxingUnboxing/obj/
BoxingUnboxing.sln

ThreeTypesOfErrors/bin/
ThreeTypesOfErrors/obj/
ThreeTypesOfErrors.sln

Exceptions/bin/
Exceptions/obj/
Exceptions.sln

AccessModifiers/bin/
AccessModifiers/obj/
AccessModifiers.sln

AccessModifiersAnotherAssembly/bin/
AccessModifiersAnotherAssembly/obj/
AccessModifiersAnotherAssembly.sln

AccessModifiersAnotherClass/bin/
AccessModifiersAnotherClass/obj/
AccessModifiersAnotherClass.sln

ParamsKeyword/bin/
ParamsKeyword/obj/
ParamsKeyword/.sln

ClassVsStruct/bin/
ClassVsStruct/obj/
ClassVsStruct/.sln

NewOperator/bin/
NewOperator/obj/
NewOperator/.sln


